
</div>
<div class="footer inset-x-0 bottom-0 bg-white border-t-1 p-6 px-9 flex justify-between items-center">
    <div class="flex gap-3">
        <h1>&copy; 2025 LumiStay,Inc</h1>
        <a href="/privacy" class="hover:underline">Privacy</a>
        <a href="/terms" class="hover:underline">Terms</a>
        <a href="/company" class="hover:underline">Company details</a>
    </div>
        <div class="socialmedia ">
           <a href="" class="ml-4 text-xl"><i class="fa-brands fa-facebook"></i></a>
           <a href="" class="ml-4 text-xl"><i class="fa-brands fa-x-twitter"></i></a>
           <a href="" class="ml-4 text-xl"><i class="fa-brands fa-instagram"></i></a>
        </div>
</div>

</body>

</html>