<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LumiStay</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">

</head>

<body class="flex flex-col min-h-[100vh]">
    <!--<nav class="flex justify-between items-center p-4 bg-white sticky top-0 border-b-1">
        <div>
            <h1 class="text-3xl">LumiStay</h1>
        </div>
        <div class="">
            <a href="/" class="text-2xl ml-4">Home</a>
            <a href="/listing" class="text-2xl ml-4">All Listings</a>
            <a href="/listing/new" class="text-2xl ml-4">New listing</a>
        </div>
        <div class="bg-blue-500 p-2 px-6 rounded-3xl flex justify-center items-center">
            <a href="" class="text-xl text-amber-50">Login</a>
        </div>
    </nav>-->
    <header class="sticky top-0 z-10">
        <!-- lg+ -->
        <div class="bg-gray-100 border-b border-gray-200 ">
            <div class="px-4 mx-auto sm:px-6 lg:px-8">
                <nav class="relative flex items-center justify-between h-16 lg:h-20">
                    <div class="hidden lg:flex lg:items-center lg:space-x-10">


                        <a href="/listing" title="" class="text-base font-medium text-black"> All Listings </a>

                        <a href="/listing/new" title="" class="text-base font-medium text-black"> New Listing </a>

                    </div>

                    <div class="lg:absolute lg:-translate-x-1/2 lg:inset-y-5 lg:left-1/2">
                        <div class="flex-shrink-0">
                            <a href="/listing" title="" class="flex">
                                <img class="w-auto h-8 lg:h-10"
                                    src="https://cdn.rareblocks.xyz/collection/celebration/images/logo.svg" alt="" />
                            </a>
                        </div>
                    </div>

                    <button type="button"
                        class="flex items-center justify-center ml-auto text-white bg-black rounded-full w-9 h-9 lg:hidden">
                        <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                        </svg>
                    </button>

                    <button type="button"
                        class="inline-flex p-2 ml-5 text-black transition-all duration-200 rounded-md lg:hidden focus:bg-gray-100 hover:bg-gray-100">
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16m-7 6h7" />
                        </svg>
                    </button>

                    <div class="hidden lg:flex lg:items-center lg:space-x-10">
                        <% if(!curruser) { %>
                                <a href="/signup"
                                    class="py-2 text-base font-medium text-black transition-all duration-200 focus:text-blue-600">
                                    Sign up </a>
                            
                                <a href="/login"
                                    class="py-2 text-base font-medium text-black transition-all duration-200 focus:text-blue-600">
                                    Sign in </a>
                          

                            <% } %>
                                <% if(curruser) { %>
                                    <a href="/logout"
                                        class="py-2 text-base font-medium text-black transition-all duration-200 focus:text-blue-600">
                                        Logout </a>

                                        <div
                                            class="w-10 h-10 justify-center bg-gray-500 flex items-center hover:bg-white hover:cursor-pointer rounded-full">
                                            <a href="/profile"><i class="fa-solid fa-user"></i></a>
                                        </div>
                                    <% } %>
                                        

                    </div>
                </nav>
            </div>
        </div>

        <!-- xs to lg -->
        <nav class="py-4 bg-white lg:hidden">
            <div class="px-4 mx-auto sm:px-6 lg:px-8">
                <div class="flex items-center justify-between">
                    <p class="text-sm font-semibold tracking-widest text-gray-400 uppercase">Menu</p>

                    <button type="button"
                        class="inline-flex p-2 text-black transition-all duration-200 rounded-md focus:bg-gray-100 hover:bg-gray-100">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>

                <div class="mt-6">
                    <div class="flex flex-col space-y-2">
                        <a href="/listings" title=""
                            class="py-2 text-base font-medium text-black transition-all duration-200 focus:text-blue-600">
                            All Listings </a>

                        <a href="/listing/new" title=""
                            class="py-2 text-base font-medium text-black transition-all duration-200 focus:text-blue-600">
                            New Listings </a>

                        <a href="#" title=""
                            class="py-2 text-base font-medium text-black transition-all duration-200 focus:text-blue-600">
                            Resources </a>

                        <a href="#" title=""
                            class="py-2 text-base font-medium text-black transition-all duration-200 focus:text-blue-600">
                            Pricing </a>
                    </div>

                    <hr class="my-4 border-gray-200" />

                    <div class="flex flex-col space-y-2">
                        <% if(!curruser) { %>
                            <a href="/signup"
                                class="py-2 text-base font-medium text-black transition-all duration-200 focus:text-blue-600">
                                Sign up </a>

                            <a href="/login"
                                class="py-2 text-base font-medium text-black transition-all duration-200 focus:text-blue-600">
                                Sign in </a>
                            <% } %>
                                <% if(curruser) { %>
                                    <a href="/logout"
                                        class="py-2 text-base font-medium text-black transition-all duration-200 focus:text-blue-600">
                                        Logout </a>
                                    <% } %>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container flex-[1]">
        <% if(success.length>0){ %>
            <div class="flex items-center justify-center">
                <div
                    class=" bg-[#198754] p-3 rounded-b flex items-center justify-center text-white font-semibold w-[20%]">
                    <h1>
                        <%= success %>
                    </h1>
                </div>
            </div>

            <% } %>

                <% if(error.length>0){ %>
                    <div class="flex items-center justify-center">
                        <div
                            class=" bg-red-400 p-3 rounded-b flex items-center justify-center text-black font-semibold w-[20%]">
                            <h1>
                                <%= error %>
                            </h1>
                        </div>
                    </div>

                    <% } %>