<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listings</title>
</head>
<body>
    <h1>All Listing</h1>
    <h3>Create new list</h3>
    <form action="/listing/new" method="get">
        <button>Click Here</button>
    </form>
    <% alllistings.forEach(list => {%>
        <ul>
            <a href="/listing/<%= list._id %>"><li><%= list.title %></li></a>
        </ul>

        <%}); %>
</body>
</html>