<%- include('../partials/header.ejs') %>
    <h1>All Listing</h1>
    <h3>Create new list</h3>
    <form action="/listing/new" method="get">
        <button>Click Here</button>
    </form>
    <% alllistings.forEach(list => {%>
        <ul>
            <a href="/listing/<%= list._id %>"><li><%= list.title %></li></a>
        </ul>

        <%}); %>
<%- include('../partials/footer.ejs') %>