<%- include('../partials/header.ejs') %>
    <h1 class="text-3xl font-semibold p-3 ml-46">Create Your New List</h1>
    <div class="w-full h-screen flex px-50 items-center ">
        <form action="/listing/create" id="loginForm" novalidate class="w-full" method="post">

            <div>
                <label class="block text-2xl font-semibold" for="title">Title</label>
                <input type="text" class="rounded w-full p-2 border-1 shadow h-10  name="list[title]" placeholder="Title">
                <p id="passwordError" class="text-sm error-text mt-1 hidden">Password is required.</p>
            </div>

            <br><br>

            <div>
                <label class="block text-2xl font-semibold" for="description">Description</label>
                <textarea name="list[description]" class="rounded w-full p-2 border-1 shadow"  placeholder="Description"></textarea>
            </div>

            <br>

            <div class="flex items-center gap-5">

                <div>
                    <label class="block text-2xl font-semibold" for="country">Price</label>
                    <input type="number" name="list[price]" class="rounded w-[300px] p-2 border-1 shadow h-10" placeholder="1200">
                </div>
                
                <br>
                
                <div>
                    <label class="block text-2xl font-semibold" for="price">Country</label>
                    <input type="text" name="list[country]" class="rounded w-[780px] p-2 border-1 shadow h-10" placeholder="India">
                </div>
                
            </div>

            <br>

            <div>
                <label class="block text-2xl font-semibold" for="image">Image</label>
                <input type="text" name="list[image][url]" class="rounded w-full p-2 border-1 shadow h-10" placeholder="Image link">
            </div>

            <br>

            <div>
                <label class="block text-2xl font-semibold" for="location">Location</label>
                <input type="text" name="list[location]" class="rounded w-full p-2 border-1 shadow h-10" placeholder="Delhi">
            </div>

            <br><br>

            <input class="font-semibold bg-black text-white cursor-pointer hover:bg-white hover:text-black hover:border-1 p-2 px-5 rounded" type="submit">
        </form>
    </div>
    <%- include('../partials/footer.ejs') %>