<%- include('../partials/header.ejs') %>

<h1>User Profile</h1>
<form action="/profile" method="post" enctype="multipart/form-data">
    <label for="profilePic">Profile Picture:</label>
    <button type="button"><input type="file" name="profilePic"></button><br>
    <label for="username">Username:</label>
    <input type="text" name="username" value="<%= user.username %>" /><br>
    <label for="email">Email:</label>
    <input type="email" name="email" value="<%= user.email %>" /><br>
    <button type="submit">Update</button>
</form>

<%- include('../partials/footer.ejs') %>