<%- include('../partials/header.ejs') %>

<h1>User Profile</h1>
<form action="/profile" method="post" enctype="multipart/form-data">
    <label for="profilePic">Profile Picture:</label>
    <button type="button"><input type="file" name="profilePic"></button><br>
    <label for="username">Username:</label>
    <input type="text" name="username" value="<%= user.username %>" /><br>
    <label for="email">Email:</label>
    <input type="email" name="email" value="<%= user.email %>" /><br>
    <button type="submit">Update</button>
</form>
<div>
<article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl px-8 pb-8 pt-40 max-w-sm mx-auto mt-24">
    <img src="https://images.unsplash.com/photo-1552733407-5d5c46c3bb3b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHRyYXZlbHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60"
        alt="University of Southern California" class="absolute inset-0 h-full w-full object-cover">
    <div class="absolute inset-0 bg-gradient-to-t from-gray-900 via-gray-900/40"></div>
    <h3 class="z-10 mt-3 text-3xl font-bold text-white">Paris</h3>
    <div class="z-10 gap-y-1 overflow-hidden text-sm leading-6 text-gray-300">City of love</div>
</article>
  <p>price</p>
</div>

<%- include('../partials/footer.ejs') %>